* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Ensure space between logo and button */
    align-items: center;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav img {
    height: 40px;
}

body {
    padding-top: 60px;
    /* Adjust based on the height of the nav */
}

.logout-button {
    background-color: #0c454d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 2rem;
}

.logout-button:hover {
    background-color: #093a41;
}

.sidebar {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    /* Adjust based on the height of the nav */
    bottom: 0;
    overflow-y: auto;
    z-index: 999;
}

.collapsible-header {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible-content {
    display: none;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.arrow {
    font-size: 12px;
}

.collapsible-content form {
    display: flex;
    flex-direction: column;
}

.collapsible-content label {
    margin-bottom: 5px;
    font-weight: bold;
}

.collapsible-content input[type="text"],
.collapsible-content textarea,
.collapsible-content select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.collapsible-content textarea {
    resize: vertical;
    height: 100px;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: sticky;
    margin-top: 10px;
}

.search-button:hover {
    background-color: #333;
}

.filter-section {
    margin-bottom: 15px;
}

.filter-section label {
    margin-bottom: 5px;
}

.filter-section input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.info-icon {
    font-style: normal;
    color: green;
    margin-left: 5px;
}

.collapsible.open .collapsible-content {
    display: block;
    max-height: 500px;
}

.filter-section input[type="text"],
.filter-section input[type="date"],
.filter-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 500;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

#results {
    margin-left: 320px;
    padding: 20px;
}

.save-button,
.export-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.save-button:hover,
.export-button:hover {
    background-color: #333;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    margin-top: 20px;
}

.results-table th,
.results-table td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

.results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.results-table td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results-table td:hover {
    white-space: normal;
    max-width: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
}

.progress-bar::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: #4caf50;
    animation: progress 2s linear infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.loading {
    cursor: wait;
}

.hidden {
    display: none;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    display: none;
    margin-top: 10px;
}

#progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin-left: -125px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}